{% extends "homepage/layout/base.html" %}
{% load static %}


{% block content %}

<body>
  <h1>Donations</h1>

  <div id="container-fluid">
    <div id="title">
      <h2 id="head2">Please fill in the Form</h2>
    </div>

    <div id="fill">
      <div class="row">
        <div class="col-md-6">
          <form id="form" method="POST" action="{% url 'donation:donations' %}">

            {% csrf_token %}
            <strong>{{ donation_form.as_p }}</strong>
            <button type="submit" value="Submit" id="submit_btn">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</body>
{% endblock %}