{% extends "homepage/layout/base.html" %}
{% load static %}
{% load static %}

{% block content %}
<body>
    <h1>Thank you for your donation {{user.username}}</h1>
    <h2 id ="donation_amount">Donation amount : 0</h2>

    <div class="container-fluid">
        <div class="row" style="background-color:white">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table">
                        <caption>List of Donations</caption>
                        <thead>
                            <th scope="col" class="col-md-6">Name</th>
                            <th scope="col" class="col-md-6"> Amount </th>
                            <th scope="col" class="col-md-6">Location</th>
                            <th scope="col" class="col-md-6">Program</th>
                        </thead>
                        {% csrf_token %}
                        <tbody id ="start_donation">
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</body>
{% endblock %}