<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title">Get the latest info and news</h5>
		<h5 class="card-title">about CS-Crowdfund programs and activity</h5>
		<a href="https://twitter.com/CrowdfundCs" class="fa fa-twitter-square" style="font-size:72px"></a>
		
		<a>  </a>

		<a href="https://www.instagram.com/cs.crowdfund/" class="fa fa-instagram" style="font-size:72px"></a>
	</div>
</div>