<nav class="navbar navbar-expand-lg mx-auto" style="background-color: #4150AF; width: 800px;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
		aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon" style="color: white;"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{% url 'homepage:index' %}">Home</a>
			<a class="nav-item nav-link" href="{% url 'newsroom:newsroom' %}">Newsroom</a>
			<a class="nav-item nav-link" href="{% url 'donation:donations' %}">Donate</a>
			{%if user.is_authenticated %}
				<a class="nav-item nav-link" href="{% url 'donation:display_donators' %}">Your Donations</a>
			{% endif %}
			<a class="nav-item nav-link" href="{% url 'testimoni:testimoni' %}">Testimonials</a>
			{%if not user.is_authenticated %}
				<a class="nav-item nav-link" href="{% url 'register:index' %}">Register</a>
				<a class="nav-item nav-link" href="{% url 'login:login' %}">Login</a>
			{% else %}
				<a class="nav-item nav-link" href="{% url 'login:logout' %}">Logout</a>
			{% endif %}
			</div>
	</div>
</nav>