{% extends "homepage/layout/base.html" %}
{% load static %}

{% block content %}
    
<body>	
	<div id="container-fluid">
	  <div id="content">
	    <div id="photo" style="float:left">
	      <a href="http://tinypic.com?ref=miny39" target="_blank"><img style="max-width:100%;height:auto;margin-left:20px;margin-top:110px" src="http://i66.tinypic.com/miny39.jpg" class="img-fluid" border="0" alt="Image and video hosting by TinyPic"></a>
      </div>
      
      <div id="fill">
	      <div id="title" style="float">
            <h1><strong>REGISTER YOURSELF</strong></h1>
			    <h2 id="head2">Please fill in the register form</h2>
		    </div>
           
        <div class="row">
          <div class="col-md-6">
            <form id="form" style="align:center" method="POST" action="{% url 'register:add_donatur' %}"  >
              {% csrf_token %}
              <strong>{{ form.as_p }}</strong>
              <button type="submit" class="registerbtn">Register</button>
            </form>
          </div>       
        </div>

        <div class="row">
          <div class="col-md-6">
            {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                <p> {{ message }} </p> 
              {% endfor %}
              </ul>
            {% endif %}
          </div>   
        </div>
      </div>
		</div>
	</div>           
</body>
{% endblock %}