#home, #about, #recent-news, #howtodonate {
	box-sizing: border-box;
	padding: 20px;
}

.container {
	margin: auto;
	max-width: 1200px;
}

#home {
	background-image: url("../images/homepage-2.png");
	background-position: center;
	background-size: cover;
}

#about, #recent-news, #howtodonate {
	background-color: #4150AF;
}

.nav-link {
	color: white;
}

#header {
	background-color: #4150AF;
}

#home h1 {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	padding-top: 18%;
	font-size: 60px;
	text-align: center;

	color: #F2F2F2;
}

#home h4 {
	color: #F2F2F2;
	font-size: 18px;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;

    margin: auto;
    padding-left: 48%;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.50s ease-in-out;
    transition: background-color 0.50s ease-in-out;

}

.about-img {
	width: 100%;
	padding-left: 50%;
	padding-top: 80px;
}

@media screen and (max-width: 450px) {
	.about-img {
		width: 100%;
		padding-left: 0px;
		padding-top: 10px;
	}

	.about-title {
		margin-top: 170;
	}

	.ct-btn-scroll {
		margin-left: -3%;
	}

	.arrow-icon1, .arrow-icon2, .arrow-icon3 {
		display: none;
	}

	#cred {
		padding-left: 0px;
	}

	#footer {
		height: 150px;
	}

	#get-in-touch {
		text-align: center;
	}

}

.about-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: justify;

	color: #F2F2F2;
}

@media screen and (min-width: 450px) {
	.about-title {
		margin-top: -50px;
	}

	#home, #about, #howtodonate {
		height: 753px;
	}

	#recent-news {
		height: 720px;
	}

	.ct-btn-scroll {
		top: 170px;
	}

	#cred {
		padding-left: 1350px;
	}
}

.about-explanation {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 24px;
	text-align: justify;

	color: #F2F2F2;
}

.news-rect {
	background: #C4C4C4;
}

#news-title-container {
	background: #C4C4C4;
	width: 100%;
	height: 80px;
}

.news-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: center;
	padding-top: 10px;

	color: #F2F2F2;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption h3 {
	font-family: Lato;
	color: #F2F2F2;
	font-size: 24px;"
}

#demo {
	width: 100%;
}

.howto-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: center;
	padding-top: 20px; 

	color: #F2F2F2;
}

.contact-icon, .form-icon, .mail-icon {
	padding-left: 25%;
	padding-top: 15%;

}

.arrow-icon {
	width: 50px;
	height: 50px;
}

.news-icon {
	padding-left: 25%;
	padding-top: 20%;
}

.register-yourself, .enter-infos, .donation-sent {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	text-align: center;

	color: #F2F2F2;
}

.pick-a-news {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	text-align: center;
	padding-top: 15px;

	color: #F2F2F2;
}

.row {
	padding-top: 13%;
}

.quote {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	padding-top: 150px;

	color: #FDF2F2;
}

#footer {
    width:100%;
    bottom:0;
    left:0;
    top: 3100px;
	background: #C4C4C4;
}

#get-in-touch {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	font-size: 18px;
	padding-left: 31px;
	padding-top: 30px;

	color: #4150AF;
}

.twitter-icon {
	width: 40px;
	height: 40px;
}

.insta-icon {
	width: 40px;
	height: 40px;
}

.email-icon {
	width: 40px;
	height: 40px;
}

#cred {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	color: #4150AF;
}